# OSX folder stuff
.DS_Store
Thumbs.db

#IDE project files
.idea
.settings
.project
.idea/workspace.xml
.idea/.rakeTasks
*.iml

doc/*
.yardoc/*
notes.txt
coverage
.bundle
.ruby-version
.ruby-gemset

Gemfile.lock


.idea/testcentricity_web.iml

.idea/.rakeTasks
