  <% desktop = "--require features BROWSER_TILE=true BROWSER_SIZE=1300,1050 --publish-quiet" %>
  <% mobile  = "--require features BROWSER_TILE=true --publish-quiet" %>
  <% reports = "--require features --format pretty --format html --out reports/test_results.html --format junit --out reports --format json --out reports/test_results.json" %>
  <% regression = "--tags '@regression and (not @wip and not @failing)' --require features" %>
  <% acceptance = "--tags '@bat and (not @wip and not @failing)' --require features" %>


#==============
# generic test context profiles
#==============

failing: --tags '@failing and not @wip'
wip:     --tags '@wip and not @failing'
dev:     --tags '@dev and (not @wip and not @failing)'
bat:     <%= acceptance %>


#==============
# test reporting profiles
#==============

report:   <%= reports %> REPORTING=true
parallel: PARALLEL=true REPORTING=true --require features --format pretty --format html --out reports/test_results<%= ENV['TEST_ENV_NUMBER'] %>.html --format junit --out reports --format json --out reports/test_results<%= ENV['TEST_ENV_NUMBER'] %>.json


#==============
# profiles for Accessibility standards
#==============

wcag2a:        ACCESSIBILITY_STANDARD=wcag2a
wcag2aa:       ACCESSIBILITY_STANDARD=wcag2aa
section508:    ACCESSIBILITY_STANDARD=section508
best_practice: ACCESSIBILITY_STANDARD=best-practice


#==============
# profiles for locally hosted desktop web browsers
#==============

local:   TEST_ENVIRONMENT=LOCAL
chrome:  WEB_BROWSER=chrome DATA_SOURCE=yaml DOWNLOADS=true <%= desktop %>
edge:    WEB_BROWSER=edge DATA_SOURCE=json <%= desktop %>
safari:  WEB_BROWSER=safari DATA_SOURCE=json <%= desktop %>
firefox: WEB_BROWSER=firefox DOWNLOADS=true <%= desktop %>

chrome_local:  --profile local --profile chrome
edge_local:    --profile local --profile edge
safari_local:  --profile local --profile safari
firefox_local: --profile local --profile firefox

firefox_headless: --profile local WEB_BROWSER=firefox_headless <%= desktop %>
chrome_headless:  --profile local WEB_BROWSER=chrome_headless <%= desktop %>
edge_headless:    --profile local WEB_BROWSER=edge_headless <%= desktop %>


#==============
# profile for Selenium Grid and Dockerized Selenium Grid hosted desktop web browsers
#==============

remote:       TEST_ENVIRONMENT=REMOTE
grid:         DRIVER=grid --profile remote REMOTE_ENDPOINT="http://localhost:4444/wd/hub"
chrome_grid:  --profile grid --profile chrome
edge_grid:    --profile grid --profile edge
firefox_grid: --profile grid --profile firefox


#==============
# profiles for mobile device screen orientation
#==============

landscape: ORIENTATION=landscape
portrait:  ORIENTATION=portrait


#==============
# profiles for locally hosted mobile web browsers (emulated locally in Chrome browser)
#==============

ipad_pro_11_local: --profile local WEB_BROWSER=ipad_pro_11 --profile portrait <%= mobile %>
ipad_pro_12_local: --profile local WEB_BROWSER=ipad_pro_12_9 --profile portrait <%= mobile %>
iphone_14_pro_max: --profile local WEB_BROWSER=iphone_14_pro_max --profile landscape <%= mobile %>
ipad_pro_12_grid: --profile grid WEB_BROWSER=ipad_pro_12_9 --profile portrait <%= mobile %>


#==============
# profile to start Appium Server prior to running mobile browser tests on iOS or Android simulators or physical devices
#==============

run_appium: APPIUM_SERVER=run


#==============
# profiles for mobile Safari web browsers hosted within XCode iOS simulators
# NOTE: Requires installation of XCode, iOS version specific target simulators, Appium, and the appium_capybara gem
#==============

appium_ios: DRIVER=appium AUTOMATION_ENGINE=XCUITest APP_PLATFORM_NAME="ios" APP_BROWSER="Safari" NEW_COMMAND_TIMEOUT=30 SHOW_SIM_KEYBOARD=false <%= mobile %>
app_ios_17: --profile appium_ios APP_VERSION="17.2"

ipad_pro_12_17_sim: --profile app_ios_17 DEVICE_TYPE=tablet APP_DEVICE="iPad Pro (12.9-inch) (6th generation)"
ipad_air_17_sim:    --profile app_ios_17 DEVICE_TYPE=tablet APP_DEVICE="iPad Air (5th generation)" <%= desktop %>

ios_remote: --profile ipad_pro_12_17_sim --profile run_appium ORIENTATION=portrait TEST_ENVIRONMENT=REMOTE
ios_caps_remote: W3C_CAPS=iPad --profile run_appium TEST_ENVIRONMENT=REMOTE <%= mobile %>


#==============
# profiles for Android mobile web browsers hosted within Android Studio Android Virtual Device emulators
# NOTE: Requires installation of Android Studio, Android version specific virtual device simulators, Appium, and the appium_capybara gem
#==============

appium_android:    DRIVER=appium AUTOMATION_ENGINE=UiAutomator2 APP_PLATFORM_NAME="Android" <%= mobile %>
app_android_12:    --profile appium_android APP_BROWSER="Chrome" APP_VERSION="12.0" CHROMEDRIVER_EXECUTABLE="/Users/Shared/config/webdrivers/chromedriver"
pixel_c_api31_sim: --profile app_android_12 DEVICE_TYPE=tablet APP_DEVICE="Pixel_C_API_31"

android_remote: --profile pixel_c_api31_sim --profile run_appium ORIENTATION=portrait TEST_ENVIRONMENT=REMOTE
android_caps_remote: W3C_CAPS=android_tablet --profile run_appium TEST_ENVIRONMENT=REMOTE <%= mobile %>


#==============
# profiles for remotely hosted web browsers on the BrowserStack service
#==============

browserstack: DRIVER=browserstack TEST_CONTEXT="TestCentricity Web - BrowserStack" TUNNELING=true TEST_ENVIRONMENT=REMOTE
bs_desktop:   --profile browserstack <%= desktop %> RESOLUTION="1920x1080"
bs_mobile:    --profile browserstack <%= mobile %>

# BrowserStack macOS desktop browser profiles
bs_macos_sequoia:  --profile bs_desktop BS_OS="OS X" BS_OS_VERSION="Sequoia"
bs_chrome_sequoia: --profile bs_macos_sequoia BS_BROWSER="Chrome" BS_VERSION="latest"
bs_edge_sequoia:   --profile bs_macos_sequoia BS_BROWSER="Edge" BS_VERSION="latest"
bs_safari_sequoia: --profile bs_macos_sequoia BS_BROWSER="Safari" BS_VERSION="latest"
bs_chrome_bat:     --profile bs_chrome_sequoia --profile bat


# BrowserStack iOS mobile browser profiles
bs_ipad:        --profile bs_mobile BS_OS=ios BS_BROWSER=Safari DEVICE_TYPE=tablet BS_REAL_MOBILE="true"
bs_ipad_pro_12: --profile bs_ipad BS_DEVICE="iPad Pro 13 2024" BS_OS_VERSION="17"

# BrowserStack Android mobile browser profiles
bs_android:        --profile bs_mobile BS_OS=android BS_BROWSER=Chrome DEVICE_TYPE=tablet BS_REAL_MOBILE="true"
bs_android_tablet: --profile bs_android BS_DEVICE="Samsung Galaxy Tab S7" BS_OS_VERSION="10.0"


#==============
# profiles for remotely hosted web browsers on the LambdaTest service
#==============

lambdatest: DRIVER=lambdatest AUTOMATE_PROJECT="TestCentricity Web - LambdaTest"
lt_desktop: --profile lambdatest <%= desktop %> RESOLUTION="2560x1440"

# LambdaTest macOS desktop browser profiles
lt_macos_monterey:  --profile lt_desktop LT_OS="MacOS Monterey"
lt_chrome_monterey: --profile lt_macos_monterey LT_BROWSER="Chrome" LT_VERSION="98.0"
lt_edge_monterey:   --profile lt_macos_monterey LT_BROWSER="MicrosoftEdge" LT_VERSION="97.0"


#==============
# profiles for remotely hosted web browsers on the TestingBot service
#==============

testingbot: DRIVER=testingbot AUTOMATE_PROJECT="TestCentricity Web - TestingBot"
tb_desktop: --profile testingbot <%= desktop %> RESOLUTION="1920x1200"

# TestingBot macOS desktop browser profiles
tb_macos_monterey:  --profile tb_desktop TB_OS="MONTEREY"
tb_chrome_monterey: --profile tb_macos_monterey TB_BROWSER="chrome" TB_VERSION="latest"
tb_edge_monterey:   --profile tb_macos_monterey TB_BROWSER="microsoftedge" TB_VERSION="latest"


#==============
# profiles for remotely hosted web browsers on the SauceLabs service
#==============

saucelabs:  DRIVER=saucelabs SL_DATA_CENTER="us-west-1" AUTOMATE_PROJECT="TestCentricity Web - SauceLabs"
sl_desktop: --profile saucelabs <%= desktop %>
sl_mobile:  --profile saucelabs <%= mobile %>

# SauceLabs macOS desktop browser profiles
sl_macos_monterey:  --profile sl_desktop SL_OS="macOS 12" RESOLUTION="1920x1440"
sl_chrome_monterey: --profile sl_macos_monterey SL_BROWSER="chrome" SL_VERSION="latest"
sl_edge_monterey:   --profile sl_macos_monterey SL_BROWSER="MicrosoftEdge" SL_VERSION="latest"
sl_firefox_monterey: --profile sl_macos_monterey SL_BROWSER="Firefox" SL_VERSION="latest"

# SauceLabs Windows desktop browser profiles
sl_windows:    --profile sl_desktop RESOLUTION="1920x1200"
sl_edge_win11: --profile sl_windows SL_OS="Windows 11" SL_BROWSER="MicrosoftEdge" SL_VERSION="latest"
sl_ie_win10:   --profile sl_windows SL_OS="Windows 10" SL_BROWSER="internet explorer" SL_VERSION="11"

# SauceLabs iOS mobile browser profiles
sl_ipad:        --profile sl_mobile DEVICE_TYPE=tablet SL_PLATFORM=iOS SL_BROWSER=Safari
sl_ipad_pro_12: --profile sl_ipad SL_DEVICE="iPad Pro (12.9 inch) (5th generation) Simulator" SL_VERSION="15.0"
