# This section is populated with Environment data required to execute automated test suites on all supported environments
Environments:
  LOCAL:
    PROTOCOL: "file"
    BASE_URL: "/../../test_site"
  REMOTE:
    PROTOCOL: "http"
    BASE_URL: "eval!ENV['BASE_URL']"

Form_data:
  primary:
    username: "Xavier Snicklefritz"
    password: "Pa55W0rd"
    max_length: "eval!Marketing.buzzwords"
    number_int: "eval!Number.between(from: 10, to: 1024)"
    number_flt: "eval!Number.between(from: 1.25, to: 9.75)"
    comments: "eval!Hipster.sentence"
    image_file: "Wilder.jpg"
    multi_select: "Selection Item 2"
    drop_select: "Drop Down Item 2"
    check_1: true
    check_2: true
    check_3: true
    radio_select: 2
    formatted_date: "eval!FormatDate.2 days from now format! %m/%d/%Y"
    days_past: "eval!Date.3 days ago"

Capabilities:
  iPad:
    :device_type: :tablet
    :driver: :appium
    :capabilities:
      :platformName: :ios
      :browserName: :safari
      :'appium:platformVersion': '17.2'
      :'appium:deviceName': 'iPad Pro (12.9-inch) (6th generation)'
      :'appium:automationName': 'XCUITest'
      :'appium:orientation': 'PORTRAIT'
  android_tablet:
    :device_type: :tablet
    :driver: :appium
    :capabilities:
      :platformName: :android
      :browserName: :chrome
      :'appium:platformVersion': '12.0'
      :'appium:deviceName': 'Pixel_C_API_31'
      :'appium:avd': 'Pixel_C_API_31'
      :'appium:automationName': 'UiAutomator2'
      :'appium:orientation': 'PORTRAIT'
      :'appium:chromedriverExecutable': '/Users/Shared/config/webdrivers/chromedriver'
